html {
  overflow: hidden;
}

div[class^="custom-cursors-"] {
  z-index: 1000;
  display: inline-block;
  position: relative;
}

span.cursor {
  animation: blinker 1.3s linear infinite;
  border-left-style: solid;
  border-left-width: 2px;
  height: 10px;
  padding: 0;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.triangle {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  border-bottom: 5px solid;
  position: absolute;
  left: -3px;
  cursor: pointer;
}

.custom-snack {
  display: flex;
  flex-direction: column;
}

.custom-snack > div {
  color: #fff;
  padding: 16px 16px;
  font-size: 0.875rem;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: 4px;
  letter-spacing: 0.01071em;
  background-color: #0c6170;
  display: inline-block;
  align-self: center;
}
